package ${package.Mapper};

import ${package.Entity}.${entity};
#if(${superMapperClass})
import ${superMapperClassPackage};
#end
#if(${mapperAnnotationClass})
import ${mapperAnnotationClass.name};
#end

/**
 * $!{table.comment}接口
 *
 * @author ${author}
 * @since ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} #if(${superMapperClass})extends ${superMapperClass}<${entity}> #end{

}
#end
