package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
#if(${table.serviceInterface})
import ${package.Service}.${table.serviceName};
#end
#if(${superServiceImplClass})
import ${superServiceImplClassPackage};
#end
import org.springframework.stereotype.Service;

/**
 * $!{table.comment}服务实现
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>()#if(${table.serviceInterface}), ${table.serviceName}#end {

}
#else
public class ${table.serviceImplName} #if(${superServiceImplClass})extends ${superServiceImplClass}<${table.mapperName}, ${entity}>#end#if(${table.serviceInterface}) implements ${table.serviceName}#end {

}
#end
