package ${package.Service};

import ${package.Entity}.${entity};
#if(${superServiceClass})
import ${superServiceClassPackage};
#end
/**
 * $!{table.comment}服务
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} #if(${superServiceClass})extends ${superServiceClass}<${entity}> #end{

}
#end
